
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#user-card{
  border: 1px solid black;
  width: 400px;
  height: 200px;
}

.image-user{

}

.name-user{

}

.email-user{

}

.adress-user{

}

.birthday-user{

}

button{

}